<% layout('layouts/boilerplate.ejs') %>

<div id="cluster-map"></div>
<div class="mb-3"></div>
<div class="container">
  <% for (let campground of campgrounds) { %>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-4">
        <img class="img-fluid" src="<%= campground.images[0].url %>" />
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text">
            <small class="text-muted"><%= campground.location %></small>
          </p>
          <p class="card-text"><%= campground.description.substring(0, 345) %>...</p>
          <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">View <%= campground.title %></a>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>

<script>
  const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
  const camps = <%- JSON.stringify(campgrounds) %>;
  const campgrounds = { features: [] };

  for (let campground of camps) {
    const feature = {
      geometry: {
        type: 'Point',
        coordinates: campground.geometry.coordinates,
      },
      _id: campground._id,
      title: campground.title,
      location: campground.location,
      price: campground.price,
      description: campground.description,
      author: campground.author,
      images: campground.images,
      reviews: campground.reviews,
      properties: {
        popUpMarkup: "<p><strong><a href='/campgrounds/" + campground._id + "'>" + campground.title + "</a></strong><p>" +
            "<p>" + campground.location + "</p>" +
            "<p>" + campground.description.substring(0, 20) + "...</p>" +
            "<img src='" + campground.images[0].url + "' width='175px' height='100' />"
      },
    };

    campgrounds.features.push(feature);
  }
</script>
<script src="/javascript/clusterMap.js"></script>
